@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');


/* Custom utility class */
.mclaren-font {
  font-family: 'McLaren', sans-serif;
}


@layer base {
  :root {
    --font-geist: 'Geist', sans-serif;
    --font-mclaren: 'McLaren', cursive;
  }
}

@layer utilities {
  .font-geist {
    font-family: var(--font-geist);
  }
  .font-mclaren {
    font-family: var(--font-mclaren);
  }
}

/* this is for handliing the dark mode table header  */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}
th, td {
  border: 1px solid #1c1515;
  padding: 0.75rem;
}
th {
  background-color: #f4f4f4;
  color: #333;
}
.dark th {
  background-color: #1f2937;
  color: #f9fafb;
}
.dark td {
  color: #e5e7eb;
}
